.offline {color: red;}

.online {color: green;}

body {background-image : url("http://www.wallpaperup.com/uploads/wallpapers/2012/08/11/10513/75ee7e16a68612f0cba61b4f51375797.jpg");}

.spacedout {padding-top: 10%;}


